/* --- HOME GENERAL --- */

section {
  margin-bottom: 150px !important;
}

/* --- HERO SECTION --- */

.hero-content {
  text-align: left;
  margin-bottom: 50px;
}

.hero-content div.hero-content-buttons {
  margin: 0;
}

.hero {
  margin: 60px auto;
  max-width: 85%;
}

.hero-content-buttons a:hover {
  color: var(--Primary);
  text-decoration: underline;
}

.hero-content a.btn:hover {
  color: var(--SecondaryDark);
  text-decoration: none;
}

.btn {
  background-color: var(--Primary);
  color: var(--White);
  display: inline;
  margin-top: 30px;
}

.btn a {
  background-color: var(--Primary);
  color: var(--White);
  padding: 15px;
  font-weight: normal;
}

.hero div.hero-content-buttons a {
  padding: 15px;
}

.hero div.hero-content-buttons a.btn {
  font-weight: normal;
}

.hero-images {
  position: relative;
}

.img-hero {
  width: 600px;
  max-width: 100%;
}

.img-card {
  max-width: 250px;
  position: absolute;
  top: 0%;
  left: -15%;
  background-color: rgba(0, 0, 0, 0);
  display: none;
}

.img-card-botton {
  top: auto;
  left: auto;
  right: -15%;
  bottom: -15%;
}






/* --- INTERMEDIATE TABLET / DEKTOP ADJUSTMENTS --- */

@media (min-width: 768px) and (max-width: 1500px) {
  .img-hero {
      width: 900px;
  }

  .img-card {
      max-width: 240px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .img-hero {
      width: 800px;
  }

  .img-card {
      max-width: 200px;
  }
}

/* --- TABLET ADJUSTMENTS --- */

@media (min-width: 768px) {
  .hero {
      display: flex;
  }

  .hero-content {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      margin-bottom: 20px;
      margin: 0 auto;
  }

  .img-card {
      display: inline-block;
  }

  .project-wrapper {
      background-color: var(--NeutralLight);
  }

  .clients,
  .services,
  .recent-projects {
      width: 90%;
      margin: 0 auto;
  }

  .clients {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 150px;
      margin-bottom: 200px;
  }

  .project-card {
      width: 40%;
  }

  .projects-container {
      display: flex;
      flex-flow: row wrap;
  }

  .testimonial {
      margin: 30px auto;
  }

  .testimonial-text h3 {
      font-size: 32px;
  }

  .testimonial-text p {
      font-size: 20px;
      margin-bottom: 20px;
  }

  .testimonial-memojis {
      display: inline-block;
  }
}

/* --- DESKTOP ADJUSTMENTS --- */

@media (min-width: 992px) {
  h1 {
      font-size: 50px;
  }

  .hero h3 {
      font-size: 24px;
  }

  .clients {
      display: flex;
      justify-content: space-between;
  }

  .img-hero {
      width: 800px;
      max-width: auto;
  }

  .services-container {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      align-items: center;
      margin: 0 auto;
      width: 95%;
  }

  .projects-container {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      align-items: center;
      margin: 0 auto;
      width: 95%;
  }

  .project-card {
      width: 30%;
  }

  .testimonial-text h3 {
      font-size: 40px;
  }

  .testimonial-text p {
      font-size: 24px;
  }

  .services-container {
      max-width: 1200px;
  }
}


@keyframes fadeIn {
  to {
    opacity: 0;
  }
}

@keyframes goUp {
  from {
    transform: translate3d(0, 90px, 0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards, goUp 0.5s ease-in forwards;
}

/*Modal*/
.modal {
    position: fixed;
    left: auto;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--White);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.modal-content > h1, h2, h3, h4, h5, h6 {
    color: darkblue;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
}

.modal-title {
    font-weight: bold;
    color: var(--White);
    background-color: var(--Primary);
    border-radius: 0.25rem;
    padding: 0.2rem 1.5rem;
}

.close-button {
    float: right;
    width: 1.6rem;
    font-weight: bold;
    line-height: 1.6rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* MEDIA QUERY RESPONSIVE*/

/* Very small devices. Mobile phone*/
@media (max-width: 575.9px){
    .modal-content {
        left: 50%;
        right: 50%;
        width: 50%;
    }
    .modal-content > h1{
        font-size: 15px;
    }
}
.scroll-to-top {
    position: relative;
  }
  
  .btn-scroll-position {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }
  
  .btn-scroll-style {
    background-color: var(--NeutralMedium);
    border: 2px solid var(--White);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: var(--White);
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    box-shadow: 0 2px 5px rgba(000, 000, 000, .3);
    transition: all 0.5s ease-in-out;
    font-size: 30px !important;
    line-height: 45px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }
  
  .icon-style:hover {
    animation: none;
    background: var(--White);
    color: var(--NeutralMedium);
    border: 2px solid var(--NeutralMedium);
  }
  
  @keyframes movebtn {
    0% {
      transform: translateY(0px);
    }
    25% {
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @media (min-width: 992px) {
    .btn-scroll-style {
        height: 55px;
        width: 55px;
        line-height: 50px !important;
    }
  }
  