/* ------------------------------ Splash page ------------------------------ */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: #f2f4fc;
  }
  
  .splash.display-none {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 95vw;
    max-width: 1200px;
    height: 100vh;
    z-index: -10;
    background-color: #f2f4fc;
    transition: all 1s;
  }
  
  .splash h1 {
    font-size: 2em;
    position: fixed;
    top: 39vh;
    left: 37vw;
    background-color: transparent;
    color: var(--primary);
  }
  
  @keyframes fadeIn {
    to {
      opacity: 0;
    }
  }
  
  @keyframes goUp {
    from {
      transform: translate3d(0, 90px, 0);
    }
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards, goUp 0.5s ease-in forwards;
  }
  
  /* ------ CIRCULAR ANIMATION ------ */
  
  .circle2 {
    position: fixed;
    display: inline;
  }
  
  .outer-circle {
    position: absolute;
    top: 24vh;
    left: 35vw;
    height: var(--diameter);
    width: var(--diameter);
    border-radius: 50%;
    background: var(--secondaryDark);
  }
  
  .inner-circle {
    position: absolute;
    top: calc(24vh + var(--circular-line-width));
    left: calc(35vw + var(--circular-line-width));
    height: calc(var(--diameter) - 2 * var(--circular-line-width));
    width: calc(var(--diameter) - 2 * var(--circular-line-width));
    background-color: #f2f4fc;
    border-radius: 50%;
  }
  
  .box {
    position: absolute;
    height: calc(var(--diameter) / 2);
    width: calc(var(--diameter) / 2);
    background: #f2f4fc;
  }
  
  .box-top-left {
    left: 35vw;
    top: 24vh;
    transform-origin: 100% 100%;
    animation: show-top-left 0.5s linear forwards;
  }
  
  .box-bottom-left {
    left: 35vw;
    top: calc(24vh + var(--diameter) / 2);
    transform-origin: 100% 0;
    animation: show-bottom-left 0.5s linear 0.5s forwards;
  }
  
  .box-bottom-right {
    left: calc(35vw + var(--diameter) / 2);
    top: calc(24vh + var(--diameter) / 2);
    transform-origin: 0 0;
    animation: show-bottom-right 0.5s linear 1s forwards;
  }
  
  .box-top-right {
    top: 24vh;
    left: calc(35vw + var(--diameter) / 2);
    transform-origin: 0 100%;
    animation: show-top-right 0.5s linear 1.5s forwards;
  }
  
  @keyframes show-top-left {
    0% {
      transform: skewX(0deg);
    }
  
    99.9% {
      height: calc(var(--diameter) / 2);
      width: calc(var(--diameter) / 2);
    }
  
    100% {
      height: 0;
      width: 0;
      transform: skewX(90deg);
    }
  }
  
  @keyframes show-bottom-left {
    0% {
      transform: skewY(0deg);
    }
  
    99.9% {
      height: calc(var(--diameter) / 2);
      width: calc(var(--diameter) / 2);
    }
  
    100% {
      height: 0;
      width: 0;
      transform: skewY(-90deg);
    }
  }
  
  @keyframes show-bottom-right {
    0% {
      transform: skewX(0deg);
    }
  
    99.9% {
      height: calc(var(--diameter) / 2);
      width: calc(var(--diameter) / 2);
    }
  
    100% {
      height: 0;
      width: 0;
      transform: skewX(90deg);
    }
  }
  
  @keyframes show-top-right {
    0% {
      transform: skewY(0deg);
    }
  
    99.9% {
      height: calc(var(--diameter) / 2);
      width: calc(var(--diameter) / 2);
    }
  
    100% {
      height: 0;
      width: 0;
      transform: skewY(-90deg);
    }
  }
  
  
  
  
  /* --------------------------------------------------------------------------- */
  /* ------------------------------ MEDIA QUERIES ------------------------------ */
  /* --------------------------------------------------------------------------- */
  
  /* ------------------------- Smaller than 990px (tablet) ------------------------- */
  @media (max-width: 990px) {
    /* ------------------------------ Splash ------------------------------ */
    .splash {
      display: none;
    }
  
  }
   
  