/* Reset default browser styles */
body,
html {
  margin: 0 7%;
  padding: 0;
}

html {
  background-color: #f2f4fc;
}

/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
  --primaryLight: #a2d6f9;
  --primaryLighter: #d1edff;
  --secondaryLight: #fce300;
  --secondaryDark: #ffc600;
  --neutralLight: #f4f6fc;
  --neutralMedium: #6b708d;
  --neutralDark: #292e47;
  --wrong: #b33a3a;
  --right: #28a428;
  --white: #fff;
  --black: #000;
  --diameter: 25vw;
  --circular-line-width: 2px;
  --background: #000;
  --line-color: #ff0055;
}

/* Main Section */
.hero-container {
  width: 80%;
  display: flex;
  flex-direction: row; /* Change flex direction to row */
  justify-content: space-between; /* Add space between elements */
  align-items: center;
  gap: 2vh;
  margin: 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 45%;
  padding: 5% 0 5% 0;
  gap: 10%;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h4 {
  color: #6b708d;
  font-size: 20px;
  font-weight: 400;
}

.hero-btn {
  display: flex;
  align-items: center; /* Center buttons vertically */
  font-size: 17px;
  font-weight: 500;
}

.white-btn {
  text-decoration: none;
  padding: 15px 30px;
}

.blue-btn {
  background-color: #072ac8;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
}

.blue-btn:hover {
  background-color: #292e47;
}

/* Hero Section styles */
#hero {
  background-color: #f2f2f2;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-img {
  position: relative;
  flex: 1;
}

.hero {
  max-width: 550px;
}

.hero-img img {
  display: block;
}

.card1 {
  position: absolute;
  max-width: 275px;
  top: 5%;
  left: -18%;
}

.card2 {
  position: absolute;
  max-width: 275px;
  bottom: -15%;
  right: -15%;
}

/* Clients Section styles */
#clients {
  width: 100%; 
  overflow: hidden; 
  margin: 0 auto;
  position: relative;
}

.client-logos {
  display: flex;
  height: 100%;
  animation: slide 20s linear infinite;
}

.client-logos a {
  display: flex;
  width: 27%;
  flex-shrink: 0;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.client-logos img {
  margin: 0 auto;
  filter: grayscale(1);
  width: 10rem;
}

.client-logos img:hover {
  filter: grayscale(0);
}

/* Testimonial Section styles */
#review {
  margin-bottom: 8%;
  position: relative;
  background-color: #292E47;
  background-image: url(../assets/testimonial-section/orbit.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 622px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.memojis {
  justify-items: flex-end;
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memoji1,
.memoji2,
.memoji3,
.memoji4 {
  max-width: 12%;
}
.memoji1 {
  position: absolute;
  top: 8%;
  left: 2%;
}
.memoji2 {
  position: absolute;
  top: 8%;
  right: 2%;
}
.memoji3 {
  position: absolute;
  bottom: 8%;
  right: 2%;
}
.memoji4 {
  position: absolute;
  bottom: 8%;
  left: 2%;
}
.personal-opinion {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 50px;
  width: 75%;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.white {
  font-size: 3em;
  color: #f2f2f2;
}

.yellow {
  margin-top: 6vh;
  margin-bottom: 6vh;
  font-size: 1.7rem;
  color: #ffc600;
}

.light-blue {
  color: #a2d6f9;
}
.booking{
  font-size: 1.2em;
  color: #f2f2f2;
}
.card {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 1.5rem;
}

.card-texts {
  text-align: left;
  line-height: 20px;
}

.profile-pic {
  max-width: 15%;
  border-radius: 50%;
}

/* Services Section styles */
.services {
  padding: 50px 0;
}

.services h2 {
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: space-around;
}

.services-card {
  flex: 1;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.img-services {
  margin-bottom: 20px;
}

.services-card h4 {
  margin-bottom: 10px;
}

.services-card p {
  margin-bottom: 20px;
}

.learn-more {
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #072AC8;
}


/* Hide the main navigation by default */
.main-nav {
  display: none;
}

/* Media query for screens with a maximum width of 767px */
@media only screen and (max-width: 767px) {
  .burger-icon {
    display: block; /* Display the burger icon for screens up to 767px */
  }

  .main-nav {
    flex-direction: column;
    text-align: center;
    background-color: #f9f9f9;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    right: 0;
    z-index: 1;
  }

  .main-nav li {
    padding: 10px 0;
  }

  .nav-links {
    margin-right: 0;
  }

  /* Show the main navigation when burger icon is checked */
  #chkToggle:checked + .burger-icon + .main-nav {
    display: flex;
  }
}
